* {
   box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 1440px;
    font-family: arial;
    margin: 0px auto;
    
}

.centre {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-color: white;
    width: 100%; 
    padding-top: 41px;
}

.logo-executive-white {
    Width: 146px;
    Height: 52px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 175px;
    flex: 1;
    list-style: none;
    color: #373737;
    font-size: 17px;
    line-height: 19.5px;
    font-style: italic;  
}

.cta-nav {
    border: 2px solid #717CFF;
    background-color: #ffffff;
    border-radius: 11px;
    color: #373737;
    font-size: 17px;
    line-height: 19.5px;
    font-style: italic;
    padding: 10px 35px;
    cursor: pointer; 
}

.your-dream {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between; 
}

.box-one {
    padding: 140px 133px 0 0;
}

.main-title {
    font-size: 56px;
    line-height: 64px;
    color: #2F2F2F;
    font-style: italic;
    font-weight: 400;
    margin-right: 52px;
}

.colored-word {
    color: #717CFF;
}

.main-text{
    color: #7D7D7D;
    font-size: 22px;
    line-height: 38px;
    font-style: italic;
    padding: 28px 0 25px 0;
}

.cta-apply{
    color: #FFFFFF;
    background-color: #717CFF;
    padding: 12px 0px 12px 33px;
    border: solid;
    border-radius: 11px; 
    display: flex;
    font-size: 22px;
    line-height: 40px;
    font-style: italic;
    align-items: center;
    cursor: pointer;
}

.arrow{
    padding: 0 35px 0 37px; 
}

.icons-logo{
    padding: 50px 0 0 10px;
    display: flex;
    justify-content: end;
    grid-column-gap: 25px;
    cursor: pointer;
    align-items: center;
}

.box-two{
    padding: 116px 0 25px 0;   
}

.img-load-purple{
    width: 14px;
    height: 14px;
    background-color: #717CFF;
    border-radius: 50%;
}

.img-load-gray{
    width: 10px;
    height: 10px;
    background: #7C7C7C;
    border-radius: 50%;
    opacity: 31.88%;
}

.universities{
    background-color: #FAFAFA;
    width: 100%;
}

.sub-title{
    font-size: 23px;
    letter-spacing: 2.1px;
    line-height: 27px;
    font-style: italic;
    color: #373737;
    padding-top: 30px;
    font-weight: 400;
    text-transform: uppercase;
    opacity: 0.73; 
} 

.content{
    text-align: center;
    }

.logo-university{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 87px 0 110px 0;
}

.loading {
    padding: 80px 108px;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    align-items: center;
    
}

.ourservices {
    background-color: #ffffff;
    width: 100%;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 50px;
    padding-bottom: 126px;
    
}

.service {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    width: 334px;
    padding: 30px; 
}

.countries-covered {
    background-color: #FAFAFA;
    width: 100%;
}

.title-service {
    font-size: 24px;
    line-height: 37px;
    color: #37474F; 
    padding: 30px 0 10px 0;
}

.learn {
    display: flex;
    align-items: center;
    color: #717CFF;
    font-size: 17px;
    line-height: 20px;
    font-weight: bold;
    padding-top: 10px;
}

.arrow-img {
    padding-left: 16px;
}

.description-service {
    font-size: 16px;
    line-height: 28px;
    color:#37474F;
    opacity:73%;
    font-style: italic;
}

.news {
    background: #FAFAFA;
    width: 100%;
}

.button {
    padding: 146px 0 124px 0;
    display: flex;
    justify-content: center;
}

.box-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 46px;
}

.card {
    background: #FFFFFF;
    box-shadow: 0px 6px 42px rgba(0, 0, 0, 0.103884);
    border-radius: 10px;
    width: 344px;  
}

.descrip-card {
    padding: 28px 28px 65px;
}

.cta-4 {
    color: #ffffff;
    background-color: #717CFF;
    padding: 12px 0px 12px 33px;
    border: solid;
    border-radius: 11px; 
    display: flex;
    font-size: 22px;
    line-height: 40px;
    font-style: italic;
    align-items: center;
    cursor: pointer; 
}

.cta-5 {
    color: #ffffff;
    background-color: #717CFF;
    padding: 12px 0px 12px 33px;
    border: solid;
    border-radius: 11px; 
    display: flex;
    font-size: 22px;
    line-height: 40px;
    font-style: italic;
    align-items: center;
    cursor: pointer; 
}

.date-card {
    font-size: 16px;
    line-height: 19px;
    color: #565656;
    font-style: italic;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.text-card {
    font-size: 22px;
    line-height: 25px;
    color: #252525;
    font-weight: bold;
    
}

.university-events {
    background-color: white;
}

.all-calendar {
    display: flex;
    justify-content: center;
    grid-gap: 50px;
    flex-wrap: wrap;
}

.calendar {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 6px 42px rgba(0, 0, 0, 0.103884);
    padding: 30px;
    width: 540px;
}

.header-calendar {
    display: flex;
    padding-bottom: 30px;
}

.title-calendar {
    font-size: 24px;
    line-height: 37px;
    font-weight: bold;
    color: #37474F;
    margin: 0;
    padding-left: 20px;
}

.img-calendar {
    padding-right: 15px;
}

.date-calendar {
    background-color: rgba( 113,124,255,0.14);
    padding: 10px 20px;
    display: grid;
    border-radius: 11px;
    justify-items: center;
   
}

.day-calendar {
    font-size: 27px;
    line-height: 31px;
    font-weight: bold; 
    color: #717CFF;
}

.mounth-calendar {
    font-size: 18px;
    line-height: 21px;
    font-style: italic;
    color: #717CFF;
}

.text-calendar {
    font-size: 16px;
    line-height: 28px;
    font-style: italic;
    color: #37474F;
    opacity:  72.16%;
}

.footer-calendar {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
}

.left {    
    display: flex;
    align-items: center;
    color: #717CFF;
    font-size: 17px;
    line-height: 20px;
    font-weight: bold;
}

.right{    
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 28px;
    font-style: italic; 
    color: #373737;
}

.arrow-2 {
    padding: 0 20px 0 21px;
}

.head-container {
    text-align: center;
    padding-top: 100px ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-title-container {
    font-size: 37px;
    line-height: 54px;
    letter-spacing: 0.5px;
    color: #373737;
    font-weight: bold;
} 

.presentation-container {
    font-size: 22px;
    line-height: 38px;
    color: #7D7D7D;
    font-style: italic;
    width: 78%;
    padding: 25px 0 110px 0;
}

.img-service {
    width: 76px;
    height: 76px;
}

.countries {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 50px;   
}

.country {
    width: 350px;
}


.title-country {
    padding: 27px 0;
    color: #37474F;
    font-size: 25px;
    line-height: 29px;
    font-style: italic;
    font-weight: 400;
}

.text-country {
    color: #37474F;
    opacity: 72.16%;
    font-size: 16px;
    line-height: 27px;
    font-style: italic;
}

.testimonial {
    background-color: #FFFFFF;
    width: 100%;
}

.views {
    display: flex;
    grid-gap: 60px;
    flex-wrap: wrap;
    justify-content: center; 
}

.view {
    width: 503px;
    background: #FFFFFF;
    box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
    border-radius: 29px;
    padding: 30px;
}

.name {
    font-size: 22px;
    line-height: 26px;
    font-style: italic;
    color: #37474F;
    font-weight: 400;
}

.profession {
    font-size: 18px;
    line-height: 20px;
    color: #37474F;
    opacity: 72.16%;
    font-style: italic;
}

.text-view {
    color: #37474F;
    opacity: 72.16%;
    font-size: 18px;
    line-height: 31px;
    font-style: italic;
}

.full-name {
    display: flex;
    flex-direction: column;
}

.head-view {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    column-gap: 20px;
}
    
.chasing-dream {
    background-color: #FAFAFA;
    width: 100%;
}

.motivation {    
    font-size: 37px;
    line-height: 43px;
    color: #252525;
    font-weight: bold; 
}

.footer-center {
    display: flex;
    justify-content: space-between;
    padding: 65px 0 45px 0;
    font-size: 18px;
    line-height: 43px;
    color: #EEEEEE;
    font-style: italic;
}

.part-1 {
    display: grid;
    grid-row-gap: 40px;
}

.part-2 {
    display: grid;  
}

.part-3 {
    display: grid;
}

.dream {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 95px 0;
}

.icons-white {
    display: flex;
    align-items: flex-end;
    grid-column-gap: 30px;
    padding-bottom: 14px;
}

.footer {
    background: #717CFF;
}
